.textarea {
    background: initial;
    font-family: var(--font);
    display: flex;
    resize: none;
    overflow: hidden;
    border: none;
    color: currentColor;

    &:focus {
        outline: none;
    }

    &::placeholder {
        mix-blend-mode: multiply;
    }
}